#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.border {
  border: 1px solid black;
}



.article-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  list-style-type: none;
  gap: 1rem;

} 

.article-card {
  text-decoration: none;

  a {
    text-decoration: none;
    color: black;
  }
  img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}

.horizontal {
  display:  flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem
}

.vote-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 10px;


}

.comments-list {
  margin-top: 1rem;
  padding: 1rem;
  button {
    margin: 1rem
  }
}

.comment-card {
  margin: 0.5rem
}

.add-comment {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


  button {
    width: fit-content;
    height: fit-content;
  }
}

.comment-input {
  flex-grow: 3;
}

.comment-card-error {
  margin-top: 0;
  color: rgb(211, 58, 58);
}

a {
  text-decoration: none;
  color: black;
}




@media only screen and (min-width: 600px) {
  .big-screen {
    margin-left: 240px;
  }
  .logo {
    position: relative;
    left: 20px;
    text-align: left;
  }

  header {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 0;
    top: 0;
    left: 0;
    z-index: 1201;
  }
}