#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.border {
  border: 1px solid black;
}

.article-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  list-style-type: none;
  gap: 1rem;
} 

.article-card {
  text-decoration: none;

  a {
    text-decoration: none;
    color: black;
  }
  img {
    width: 250px;
    height: 300px;
  }
}

.vote-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 10px;


}

.comments-list {
  margin-top: 1rem;
  padding: 1rem;
}

.comment-card {
  margin: 0.5rem
}

